body {
    font-family: Arial, sans-serif;
    /* background: linear-gradient(to top bottom, #0d4f91, #6da1d2, #f0f0f0); */
    /* background-image: linear-gradient(to left top, #0d4f91, #6da1d2, #1276eb); */

                
    background: #1e5799; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM1JSIgc3RvcC1jb2xvcj0iIzIwN2NjYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU2JSIgc3RvcC1jb2xvcj0iIzI5ODlkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZGI5ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #1e5799 0%, #207cca 35%, #2989d8 56%, #7db9e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(35%,#207cca), color-stop(56%,#2989d8), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #1e5799 0%,#207cca 35%,#2989d8 56%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #1e5799 0%,#207cca 35%,#2989d8 56%,#7db9e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #1e5799 0%,#207cca 35%,#2989d8 56%,#7db9e8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #1e5799 0%,#207cca 35%,#2989d8 56%,#7db9e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-8 */
    margin: 0;
    padding: 0;
    direction: rtl;
    text-align: center;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 80px;
    margin-top: 50px;
    margin-bottom: 70px;
}


form{
    border:1px solid black;
    padding: 20px;
    text-align: right;

}


.header{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    text-align: center;
}

.header h1 {
    color: white;
    margin: 0;
}
.header img{
width: 100px;
}

.form-container h3 {
    color: #333;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0d4f91;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #083a63;
}

.error {
    color: red;
    font-size: 14px;
    display: none;
}

.links a {
    color: #0d4f91;
    margin: 7px;
}


.footer {
    padding: 20px;
    background-color: #0d4f91;
    color: #fff;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    margin-top: 20px;
}

.footer p {
    margin: 0;
}

.footer a {
    color: #fff;
    text-decoration: underline;
}



/* إضافة تنسيق إضافي لصفحة النجاح */
.success-container {
    text-align: center;
    margin-top: 50px;
}

.success-container img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}
